@inherits LayoutComponentBase

<header class="bg-dark fixed-top">
    <Navbar />
</header>
<main>
    @Body
</main>
<footer class="bg-dark fixed-bottom text-center">
    <p>&copy; @DateTime.Now.Date.ToString("yyyy-MM-dd") thosel</p>
</footer>
