@inherits LayoutComponentBase

<header class="row bg-dark fixed-top">
    <Navbar />
</header>
<main class="row">
    @Body
</main>
<footer class="row bg-dark fixed-bottom text-center">
    <p>&copy; @DateTime.Now.Date.ToString("yyyy-MM-dd") thosel</p>
</footer>
